.bg-blue{
  background: #F5FFFA !important;
  min-height: 100vh;
}


.heading {
  padding: 20px;
  background: linear-gradient(to right, #00cc00 15%, #3399ff);
  color: white;
}

.sub-head {
  color: gray;
  opacity: 0.8;
  font-size: 1rem;
}
